<footer class="site-footer">

  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>
    

    
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
<img src="https://www.ccextractor.org/lib/exe/fetch.php?w=200&tok=f9a0ae&media=https%3A%2F%2Fraw.githubusercontent.com%2FCCExtractor%2Fccextractor-org-media%2Fmaster%2Fstatic%2Fccx_logo_transparent_800x600.png" style="max-width: 10em;" alt="CCExtractor logo" />
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          {% if site.donate %}
          <li>
            <a href="{{site.donate}}">Donate via Sourceforge</a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
